extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Praesent at maximus massa. Vestibulum eu odio accumsan ligula efficitur tincidunt nec fringilla arcu. vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. 

                p pellentesque turpis quis semper maximus. Integer turpis magna, porta quis ipsum sit amet, euismod consequat lorem. Quisque quis mi enim. Proin quis venenatis risus. Suspendisse hendrerit, elit a sodales faucibus, erat arcu porttitor ex, sed mollis dolor ante sit amet mauris.

                p vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. Aenean tempus orci imperdiet leo vulputate, at sodales quam porttitor. Nullam vitae tempus urna. vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p vestibulum, justo sit amet lacinia ullamcorper, nisl urna efficitur augue, sodales viverra massa lacus vel ligula. 